/* Common */
.project.bottom, .project.left, .project.description, .project.imageContainer {
  border: gray 1px solid;
}

.sectionProject::-webkit-scrollbar,
.project.bottom::-webkit-scrollbar,
.project.left::-webkit-scrollbar,
div.project.description::-webkit-scrollbar,
.project.right::-webkit-scrollbar {
  display: none;
}

/* Common */
.sectionProject {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}
.sectionProject .project.bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.sectionProject .project.bottom .project.left {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: scroll;
  font-size: 1em;
}
.sectionProject .project.bottom .project.left h4 {
  padding: 0;
  width: 100%;
  text-align: center;
}
.sectionProject .project.bottom .project.left h4 span {
  position: relative;
  margin-left: 0.5em;
  color: white;
  border: white 1px solid;
  border-radius: 0.25em;
}
.sectionProject .project.bottom .project.left h4 span i {
  cursor: pointer;
}
.sectionProject .project.bottom .project.left h4 span .divFilters {
  position: absolute;
  right: 0;
  background-color: rgb(46, 46, 46);
  border: rgb(145, 145, 145) 1.5px solid;
  border-radius: 0.25em;
  color: yellow;
  text-align: start;
  font-size: 0.75em;
  font-weight: 200;
  list-style: none;
}
.sectionProject .project.bottom .project.left h4 span .divFilters .option {
  padding-right: 0.25em;
}
.sectionProject .project.bottom .project.left ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.sectionProject .project.bottom .project.left ul li {
  margin: 5px 0;
  font-size: 0.75em;
  cursor: pointer;
  list-style: none;
}
.sectionProject .project.bottom .project.left ul .selected {
  font-size: 1em;
  list-style: "> ";
}
.sectionProject .project.bottom .project.right {
  display: flex;
  flex: 3.5;
  overflow: scroll;
}
.sectionProject .project.bottom .project.right div.project.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding-left: 0.25em;
  overflow: scroll;
}
.sectionProject .project.bottom .project.right div.project.description .name {
  color: yellow;
}
.sectionProject .project.bottom .project.right div.project.description p.description {
  padding: 0;
  font-size: 1rem;
}
.sectionProject .project.bottom .project.right div.project.description .technologies ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sectionProject .project.bottom .project.right div.project.description .technologies ul .description {
  margin: 10px;
  padding: 0;
  font-size: 0.75em;
}
.sectionProject .project.bottom .project.right div.project.description .project.links {
  display: flex;
  flex: 1;
  position: relative;
  align-items: flex-end;
  justify-content: flex-end;
}
.sectionProject .project.bottom .project.right div.project.description .project.links a {
  position: relative;
}
.sectionProject .project.bottom .project.right div.project.description .project.links a i {
  color: rgb(0, 255, 255);
  font-size: 40px;
  margin: 0 10px 20px;
}
.sectionProject .project.bottom .project.right .project.imageContainer {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.sectionProject .project.bottom .project.right .project.imageContainer .project.image {
  width: 80%;
  height: 60%;
  padding: 20px;
  margin: auto;
  border: solid gray;
  border-radius: 20px;
  background-color: rgb(41, 40, 40);
  box-shadow: 0 0 5px 5px rgb(0, 255, 255);
}

@media screen and (max-width: 900px) {
  .sectionProject .project.bottom {
    flex-direction: column;
  }
  .sectionProject .project.bottom .project.left ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10px;
  }
  .sectionProject .project.bottom .project.left ul .selected {
    font-weight: bolder;
    list-style: none;
  }
  .sectionProject .project.bottom .project.right {
    flex-direction: column;
  }
  .sectionProject .project.bottom .project.right .project.description div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }
  .sectionProject .project.bottom .project.right .project.description div .technologies {
    flex-basis: 100%;
  }
  .sectionProject .project.bottom .project.right .project.description div .technologies ul {
    flex-basis: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 0.5em;
    font-size: 1em;
  }
  .sectionProject .project.bottom .project.right .project.description div .project.links {
    flex-direction: row;
    justify-content: flex-end;
  }
  .sectionProject .project.bottom .project.imageContainer {
    width: 100%;
    border: none;
  }
  .sectionProject .project.bottom .project.imageContainer .project.image {
    width: 90%;
    height: 300px;
    padding: 0;
    border: none;
    margin: 20px auto;
  }
}
@media screen and (max-width: 700px) {
  .sectionProject .project.bottom .project.left {
    flex: unset;
  }
  .sectionProject .project.bottom .project.left .divFilters {
    display: none;
  }
  .sectionProject .project.bottom .project.right .project.description {
    font-size: 0.75em;
  }
  .sectionProject .project.bottom .project.right .project.description div {
    justify-content: flex-start;
  }
  .sectionProject .project.bottom .project.right .project.description div p.description {
    flex: 0;
  }
  .sectionProject .project.bottom .project.right .project.description div .technologies {
    flex-basis: 0;
  }
  .sectionProject .project.bottom .project.right .project.description div .technologies ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .sectionProject .project.bottom .project.right .project.description div .technologies ul li.description {
    margin: 0;
    font-size: 1em;
  }
  .sectionProject .project.bottom .project.right .project.imageContainer {
    display: none;
  }
}/*# sourceMappingURL=Projects.css.map */