@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Code:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Skranji:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "FiraCode-Regular";
  src: url("/public/fonts/FiraCode-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
#home {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 auto;
  height: 100%;
  overflow: hidden;
  padding-left: 275px;
  font-family: "FiraCode-Regular", monospace, monospace;
  font-weight: 100;
}
#home .blurry-gradient-blue, #home .blurry-gradient-green {
  filter: blur(70px);
  height: 300px;
  opacity: 0.5;
  width: 300px;
}
#home .blurry-gradient-blue {
  background: radial-gradient(circle at 50% 50%, #4d5bce, rgba(76, 0, 255, 0));
  border-radius: 0 0 50% 50%;
  bottom: 25%;
  position: fixed;
  right: 5%;
  rotate: 10deg;
}
#home .blurry-gradient-green {
  background: radial-gradient(circle at 50% 50%, #43d9ad, rgba(76, 0, 255, 0));
  border-radius: 0 50% 0 50%;
  position: absolute;
  right: 30%;
  top: 20%;
}
#home .left, #home .right {
  display: flex;
  flex-direction: column;
}
#home .left #name {
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin: 0;
  font-size: 58px;
  color: #e5e9f0;
  line-height: 1;
}
#home .left #title {
  margin-top: 0;
  font-size: 32px;
  font-family: "FiraCode-Regular", monospace;
  line-height: 1;
  color: #4d5bce;
}
#home .left .gitHubConst {
  color: white;
  font-size: 18px;
  font-family: "FiraCode-Regular", monospace;
}
#home .left .gitHubConst .variableType {
  color: #4d5bce;
}
#home .left .gitHubConst .variableName {
  color: #43d9ad;
}
#home .left .gitHubConst a {
  position: relative;
  color: #e99287;
  text-decoration: underline;
  text-underline-offset: 4px;
}
#home .right {
  align-items: center;
  color: white;
  position: relative;
}
#home .right .skillsSubList {
  border: 1px solid #000;
  border-radius: 10px;
  background: linear-gradient(160deg, #227a60, rgba(76, 0, 255, 0));
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  row-gap: 1.5rem;
}
#home .right .skillsSubList .skillIconContainer {
  display: flex;
  justify-content: center;
  flex: 0 0 25%;
  box-sizing: border-box;
  position: relative;
  height: 54px;
  width: 54px;
}
#home .right .skillsSubList .skillIconContainer .skillIcon, #home .right .skillsSubList .skillIconContainer .toolTipContainer {
  height: inherit;
  width: inherit;
}
#home .right .skillsSubList .skillIconContainer .toolTipContainer {
  position: absolute;
}

@media (min-width: 1024px) and (max-width: 1536px) {
  #home {
    justify-content: center;
    gap: 0;
  }
  .right {
    height: 370px;
    width: 420px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.75rem;
  }
  #home .right {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .sectionHome {
    flex-direction: column;
  }
  .sectionHome .right {
    flex: 1;
  }
  .sectionHome .left, .sectionHome .right {
    width: 100%;
    padding-bottom: 10px;
  }
  .sectionHome .name {
    font-size: 2em;
  }
  .sectionHome .resume {
    font-size: 0.5em;
  }
  .sectionHome .title {
    font-size: 0.7em;
  }
}/*# sourceMappingURL=Home.css.map */