@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;700&display=swap');

.sectionHome {
    display: flex;
    flex-direction: row;
}

h2 {
    font-size: 1em;
}

.sectionHome > .left, .sectionHome > .right {
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid gray 1px;
}

.sectionHome > .left > a > i{
    color: rgb(1, 224, 224);
}

.name, .filters {
    font-family: 'Fredoka', sans-serif;
    margin: 0;
}

.title, .introduction {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(1, 224, 224);
}

.introduction, .description {
    font-family: 'Courier New', Courier, monospace;
    text-align: start;
    padding-left: 20px;
    color: white;
}

.skillIcon {
    width: 10%;
    margin: 0 10px;
}

@media screen and (max-width: 900px) {
    .sectionHome {
        flex-direction: column;
    }

    .sectionHome .left, .sectionHome .right {
        width: 100%;
        padding-bottom: 10px;
    }

    
}