.section.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section.contact > h1 {
    width: 100%;
    border: solid gray 1px;
    text-align: center;
}

.formContainer {
    height: 100%;
    overflow: scroll;
}

.formContainer::-webkit-scrollbar {
    display: none;
}

.formContactMe{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 500px;
    margin: 50px auto;
    border: solid gray;
    padding: 0 50px 20px;
    box-shadow: 0 0 5px 2px gray;
}

.formContactMe > label {
    color: rgb(1, 224, 224);
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.formContactMe > label > input, .formContactMe > textarea {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
}

.formContactMe > textarea {
    resize: none;
    height: 200px;
}

.formContactMe > p {
    padding: 10px 0;
}

#submitMessage {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 150px;
    margin: auto;
    color: yellow;
    background-color: black;
    border: yellow solid;
    box-shadow: 0 0 5px 1px yellow;
    padding: 5px 0;
}

#submitMessage:hover {
    color: black;
    background-color: yellow;
    border: black solid;
}

@media screen and (max-width: 900px) {
    .contact .name {
        font-size: 1.5em;
    }
    .formContainer {
        width: 100%;
    }

   .formContactMe {
        padding: 5px;
        margin: 0 auto;
        width: auto;
    }

    #senderMessage {
        height: 150px;
    }

    .message {
        margin: 0;
    }
}