/* Commom */
header, footer {
    padding-left: 20px;
}
/* Commom */

/* Main */
main {
    background-color: gray;
    display: flex;
    flex-grow: 2;
}
/* Main */

/* Header */
header {
    position: relative;
    background-color: blue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

    /* NavBar */
    .navBar {
        position: relative;
        display: flex;
        flex: row;
        justify-content: flex-end;
        padding-right: 20px;
    }

    .navBar > li {
        width: auto;
        margin: auto 5px;
        color: white;
        list-style: none;
        font-family: monospace;
    }

    .navBar > li:hover {
        cursor: pointer;
    }
    /* NavBar */

/* Header */

/* Footer */
footer {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
/* Footer */

