/* Commom */
header, footer {
    padding-left: 20px;
    border: solid gray;
}
/* Commom */

/* Main */
main {
    display: flex;
    flex-grow: 1;
    border: solid gray;
    border-top: 0;
}
/* Main */

/* Header */
header {
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

    /* NavBar */
    .navBar {
        position: relative;
        display: flex;
        flex: row;
        justify-content: flex-end;
        margin: 0;
    }

    .navBar > li {
        width: auto;
        padding: 0 10px;
        list-style: none;
        font-family: monospace;
        border: solid gray 1px;
        border-bottom: none;
        border-top: none;
        font-size: 24px;
    }

    .navBar > li:hover {
        cursor: pointer;
    }

    .navBar > li.selected {
        font-weight: bolder;
    }

    .navBar > li:last-child {
        border-right: 0.5px;
        border-top-right-radius: 10px;
    }
    /* NavBar */

/* Header */

/* Footer */
footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.socialMedia > i {
    margin: 0 10px;
}
/* Footer */

