/* Commom */
header, footer {
    padding-left: 20px;
    border: solid gray;
}
/* Commom */

/* Main */
main {
    display: flex;
    flex-grow: 1;
    border: solid gray;
}
/* Main */

/* Header */
header {
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

    /* NavBar */
    .navBar {
        position: relative;
        display: flex;
        flex: row;
        justify-content: flex-end;
        padding-right: 20px;
    }

    .navBar > li {
        width: auto;
        margin: auto 5px;
        list-style: none;
        font-family: monospace;
    }

    .navBar > li:hover {
        cursor: pointer;
    }
    /* NavBar */

/* Header */

/* Footer */
footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.socialMedia > i {
    margin: 0 10px;
}
/* Footer */

