@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;700&display=swap');
@import "../../../Variables/Variables.scss";

#projects {
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    flex: 1 1 auto;
    height: 100%;
    overflow: hidden;
    font-family: $FiraCode-Regular, monospace;
    font-weight: 100;

    .section-menu {
        height: 100%;
        border-width: 0 1px 0 0;
        border-style: solid;
        border-color: #1e2d3d;
        .menu-option {
            .menu-option_text{
                margin: 0;
                padding: 0.5rem 1rem;
                border-width: 0 0 1px ;
                border-style: solid;
                border-color: #1e2d3d;
                &.open {
                    color: white;
                    .icon {
                        transform: rotate(90deg);
                    }
                }
            }
            .menu-option_filters.open {
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                width: 100%;
                height: 100%;

                .filter-item, .icon-text {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    input[type="checkbox"] {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        background-color: transparent;
                        border: 2px solid #1e2d3d;
                        border-radius: 0.15em;
                        height: 1.15em;
                        width: 1.15em;
          
                        &:hover {
                          box-shadow: #406083 0 0 1.5px 1px;
                        }
          
                        &:checked {
                          background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0nMTMnIGhlaWdodD0nMTAnIHZpZXdCb3g9JzAgMCAxMyAxMCcgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNNS4zODU4NyA3LjI4MDJMMTEuOTcxOCAwLjY5MzU3M0wxMi45ODU2IDEuNzA2NjhMNS4zODU4NyA5LjMwNjQxTDAuODI2MTcyIDQuNzQ2NzFMMS44MzkyOCAzLjczMzYxTDUuMzg1ODcgNy4yODAyWicgZmlsbD0nd2hpdGUnLz48L3N2Zz4=);
                          background-color: #406083;
                          border-color: #406083;
                        }
                    }
                        
                    img.icon {
                        width: 32px;
                        height: 32px;
                        margin: 5px;
                    }
                }
            }
        }
    }

    .page-view {
        flex: 1;
        display: flex;
        flex-direction: column;
        border:  1px solid #1e2d3d;
        border-width: 0 1px 1px 0;
    
        .page-title {
          margin: 0;
          padding: 0.5rem;
          border-right: 1px solid #1e2d3d;
          width: fit-content;
        };

        .page-mainview {
            border: none;
            border-top: 1px solid #1e2d3d;
            display: flex;
            font-family: monospace;
            

            .projects-list {
                width: 100%;
                height: 100%;
                display: grid;
                align-self: center;
                grid-template-columns: repeat(3, minmax(0, 1fr));
                padding: 1rem;
                align-self: center;

                .project-container {
                    margin: 0.5rem;
                    width: auto;
                    height: auto;

                    p {
                        width: fit-content;
                        font-size: 15px;
                        --tw-text-opacity: 1;
                        color: rgb(85 101 232 / var(--tw-text-opacity));

                        & > span.project-name {
                            color: gray;
                        }
                    }

                    .project-card {
                        position: relative;
                        background-color: #011221;
                        border: 1px solid #1e2d3d;
                        border-radius: 15px;
                        max-width: 420px;
                        overflow: hidden;

                        .project-image {
                            height: 120px;
                            width: 100%;
                            overflow: hidden;
                            position: relative;
                            border-radius: 15px 15px 0 0;
                            background-color: #1c2b3a;
                            object-fit: cover;
                
                        }

                        .project-info {
                            border-top: 1px solid #1e2d3d;
                            padding: 0 2rem 2rem 2rem;
                            
                            .project-description {
                                color: gray;
                                padding-bottom: 1rem
                            }

                            .project-tags {
                                position: absolute;
                                top: 0;
                                right: 0;
                                display: flex;
                                flex-wrap: wrap;
                                margin-top: 1rem;
                                gap: 0.5rem;

                                .project-tag_icon {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 32px;
                                    height: 32px;
                                    background-color: #1c2b3a;
                                    border-radius: 50%;
                                    margin-left: 0.5rem;

                                    img {
                                        width: 20px;
                                        height: 20px;
                                        margin: 0;
                                        padding: 0;
                                        filter: invert(100%);
                                        
                                        &:hover {
                                            filter: invert(50%);
                                        }
                                    }
                                }
                            }

                            .project-link {
                                padding: 0.75rem;
                                background-color: #1c2b3a;
                                --tw-text-opacity: 1;
                                color: rgb(255 255 255 / var(--tw-text-opacity));
                                font-size: 1rem;
                                line-height: 1rem;
                                border-radius: 0.5rem;
                                font-family: monospace;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }

       
    }
}
