/* Common */
.experienceCategory > h2:hover, .item.schoolName:hover{
    cursor: pointer;
}

.experience.right, .experience.left, .experienceCategory , .experienceCategory > .title.selected {
    border: gray 1px solid;
}

/* Common */
.sectionExperience {
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

.experience.top {
    text-align: center;
    width: 100%;
}

.experienceCategory {
    display: flex;
    flex: row;
    justify-content: center;
}

.experienceCategory > h2 {
    padding: 0 10px;
    background-color: rgb(0, 0, 0);
}

.experience.bottom {
    position: relative;
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
}

.experience.right, .experience.left {
    display: flex;
    width: 50%; 
}

.experience.left {
    flex: 1
}

.experience.right {
    flex: 5;
    padding: 0 10px;
}

.item.schoolName {
    list-style: none;
    margin: 10px 0;
}

.item.schoolName.selected {
    list-style: '> ';
}

.courseDescription {
    white-space: break-spaces;
}

/* WORK */
.companyLogo {
    width: 200px;
    height: 200px;
}
/* WORK */

@media screen and (max-width: 900px) {
    .experience.top .experienceCategory .title {
        width: 50%;
        font-size: 26px;
    }
    .experience.bottom {
        flex-direction: column;
    }
    .experience.left, .experience.right {
        width: 100%;
        padding: 0;
    }

    .list.schoolName {
        margin: 0;
    }

    .experience .divSchool, .divWork {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        align-items: center;
        padding-bottom: 10px;
    }

    .experience .schoolLogo {
        display: block;

    }

    .schoolInfo ul, .containerPosition ul {
        padding: 0 10px 0 20px;
        list-style: "-";
    }

    .jobDescription {
        padding: 0;
    }


}