main {
  justify-content: space-between;
    flex: 1 1 auto;
    height: 100%;
    overflow: hidden;
    color: rgb(96 123 150);
  
  .page-menu {
    display: flex;

    & > div {
      border-right: 1px solid #1e2d3d;
    }
    
    .sections {
      height: 100%;
      width: 1.5rem;
      padding: 0 0.5rem;
      
      .icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 14px;
        margin: 1.5rem 0;
        
        p {
          box-sizing: border-box;
          vertical-align: middle;
        }
      }
    }
    
    .section-content {
      .section-title {
        margin: 0;
        padding: 0.5rem;
        border:  1px solid #1e2d3d;
        border-width: 0 0 1px 0;
        color: white;

        &:nth-child(3) {
          border-width: 1px 0;
        };

        p {
          margin: 0;

          .icon {
            transform: rotate(90deg);
          }
        };
      }
      
      .section-sub-contents, .contacts {
        padding: 0 1.5rem;

        .sub-content .menu-option_text {
          cursor: pointer;

          &.open {
            color: white;
            .icon {
              transform: rotate(90deg);
            }
          }
        }
      }

      .menu-option_text {
        display: flex;
        align-items: center;
        font-family: 'Fira Code', monospace;
        cursor: pointer;

        &:hover {
          color: white;
          background-color: #1e2d3d74;
          border-radius: 5px;
        }
      }
    }
  }
  
  .page-view {
    flex: 1;
    border:  1px solid #1e2d3d;
    border-width: 0 1px 1px 0;

    .page-title {
      margin: 0;
      padding: 0.5rem;
      border-right: 1px solid #1e2d3d;
      width: fit-content;

      span {
        padding: 0.5rem;
      }
    };
    .section-view {
      height: 100%;
      padding: 0 1.5rem;
      border-top: 1px solid #1e2d3d;
      p {
        margin: 0.25m;
      }  

      .bio {
        p {
          margin: 0;
          font-size: 16px;
          font-family: 'Fira Code', monospace;
        }

        .cursor {
          display: inline-block;
          width: 1ch;
          animation: blink 0.2s step-end infinite;
          color: white;

          @keyframes blink {
            50% {
              opacity: 0;
            }
          }
        }


      }
    }
  }

  .page-subview {
    flex: 1;
    border:  1px solid #1e2d3d;
    border-width: 0 1px 1px 0;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    
    .section-view {
      p {
        margin: 0.25m;
      }
    }
  }
}