main {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    overflow: hidden;
    color: rgb(96 123 150);
  
  .page-menu {
    display: flex;
    
    & > div {
      border-right: 1px solid #1e2d3d;
    }
    
    .sections {
      height: 100%;
      width: 1.5rem;
      padding: 0 0.5rem;
      
      .icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 14px;
        margin: 1.5rem 0;
        
        p {
          box-sizing: border-box;
          vertical-align: middle;
        }
      }
    }
    
    .section-content {
      .section-title {
        margin: 0;
        padding: 0.5rem;
        border:  1px solid #1e2d3d;
        color: white;
      }
      
      .section-sub-contents, .contacts {
        padding: 0 1.5rem
      }
    }
  }
  
  .page-view {
    .section-view {
      p {
        margin: 0.25m;
      }
    }
  }
}